
@import "../../components/variable.scss";
body {
  background-color: $body-bg;
  .factory-video{
    background: transparent url(#{$cdn-url}/static/plastic-crate-manufacture-factory.jpg) 50% 50% / cover no-repeat;
    &[poster]{
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
.why-choose-us{
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  .why-header{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .why-text{
    font-size: 16px;
  }
  &.one{
    background: linear-gradient(to left bottom, #9ec1e4, rgb(202, 211, 221));
  }
  &.two{
    background: linear-gradient(to left bottom, #3d98c3b5, rgb(236, 230, 230));
  }
  &.three{
    background: linear-gradient(to left bottom, #e3e9ecb5, rgb(189, 223, 227));
  }
  &.four{
    background: linear-gradient(to left bottom,#a8bdd2,#fff);
  }
}
.faq{
  .question-wrap{
    margin-bottom: 15px;
    .question{
      font-weight: bold;
    }
    .answer{
      font-size: 16px;
    }
  }
}