@import "./variable.scss";

html{
  height: 100%;
}
body{
  background-color: $body-bg;
}
body,
body>div,
body>div>div,
body>div>div>div{
  min-height: 100vh;
}
.image-gallery-slides{
  min-height: 400px;
  background-color: #fff;
  padding: 0 80px;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.single-product-attr{
  .value {
    color: #d9534f;
  }
}
.table{
  td{
    vertical-align: middle;
    padding: .25rem .55rem;
  }
  th{
    vertical-align: middle;
    padding: .25rem .55rem;
  }
}
#mainNavbar{
  .nav-item{
    .nav-link[aria-current=page]{
      color: #dc3545;
      border-bottom: 3px solid #dc3545;
      font-weight: bold;
    }
  }
}

textarea.form-control.message-detail{
  height: 120px;
}
.home-cat-pic{
  .lazy-load-image-background{
    width: 100%;
    min-height: 200px;
  }
} 

form.contact-us{
  background-color: #f2f4f4;
  padding: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 1px solid #dbdfdf;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones and tablets: */
  .image-gallery-slides{
    min-height: 200px;
    padding: 0 50px;
  }
}