body{
  background-color: #e9ecef;
}
html,
body,
body>div,
body>div>div{
  height: 100%;
}
.image-gallery-slides{
  min-height: 400px;
  background-color: #fff;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.single-product-attr{
  .value {
    color: #d9534f;
  }
}
.table{
  td{
    vertical-align: middle;
    padding: .25rem .55rem;
  }
  th{
    vertical-align: middle;
    padding: .25rem .55rem;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .image-gallery-slides{
    min-height: 200px;
  }
}