.cat-product-link,.cat-product-link:hover{
  text-decoration: none;
  color:#333;
}
.product-wrap{
  .product-img-wrap{
      float: left;
      width: 300px;
      height: 200px;
      background-color: #fff;
      text-align: center;
      img{
        max-width: 300px;
        max-height: 200px;
      }
  }
  .product-right{
      .product-name {
          background-color: #b8b6b6;
          overflow: hidden;
          .product-title {
              color: #fff;
              font-size: 1.3rem;
              padding-top: 5px;
              max-width: 350px;
          }
      }
      .product-model{
            float: right;
        }
      .product-attributes{
          .table-head {
              background: #dcddde;
              padding: 8px;
              font-weight: bold;
          }
          .bb-2-white {
              border-bottom: 2px solid #fff;
          }
          .product-val-mm, 
          .product-val-inch {
              padding: 0px 10px 0 4px;
              line-height: 56px;
              height: 56px;
          }
          .product-val-mm {
              background-color: #eee;
          }
          .product-val-inch {
              background-color: #f6f6f6;
          }
          .value {
              color: #d9534f;
          }
      }
      
  }
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .product-wrap{
      .product-img-wrap{
          float: inherit;
          width: 100%;
          height: inherit;
          img{
              width: 100%;
              max-width: 100%;
              max-height: initial;
          }
      }
      .product-right{
          .product-title {
              font-size: 1.5rem;
              width: 100%;
              border-bottom: 1px solid #fff;
          }
          .product-val-mm, 
          .product-val-inch {
              line-height: 30px;
              height: 30px;
          }
          .table-head{
              padding: 5px;
              &.bb-2-white{
              border-bottom: none;
          }
          }
          .product-model{
              float: left;
          }
      }
  }
}